<div class="text">
    <h1 class="about-heading">WHO ARE WE?</h1>
    <p class="about-p">Enactus MSI is a social entrepreneurship organization that empowers students to make a
        positive impact in their communities through innovative business solutions. Their goal is to create a
        better, more sustainable world by addressing social, economic, and environmental challenges.
        <br><br>
        One of Enactus MSI's flagship projects is Project Pankhudi, which aims to reduce floral waste. In India,
        flowers are commonly used in religious ceremonies and cultural events, resulting in a massive amount of
        floral waste that is discarded daily. Project Pankhudi seeks to address this issue by collecting floral
        waste and transforming it into natural dyes, incense sticks, and biodegradable packaging material.
    </p>
</div>

<div class="ab-image">
    <img class="about-image" src="images/who-we-are.webp" alt="who we are">
</div>