<div class="heading">
    <h2>BLOGS</h2>
</div>
<div class="row">
    <div class="column">
        <a href="#">
            <div class="card" data-aos="fade-up">
                <div class="fakeimg" style="height:200px;"><img src="images/blog.webp" alt="blog image"></div>
                <h2 class="blog-h2">TITLE HEADING</h2>
                <p style="color:white;">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div class="card" data-aos="fade-up">
                <div class="fakeimg" style="height:200px;"><img src="images/blog.webp" alt="blog image"></div>
                <h2 class="blog-h2">TITLE HEADING</h2>
                <p style="color:white;">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </a>
    </div>

    <div class="column">
        <a href="#">
            <div class="card" data-aos="fade-up">
                <div class="fakeimg" style="height:200px;"><img src="images/blog.webp" alt="blog image"></div>
                <h2 class="blog-h2">TITLE HEADING</h2>
                <p style="color:white;">Sunt in culpa qui officia deserunt mollit anim id est laborum
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div class="card" data-aos="fade-up">
                <div class="fakeimg" style="height:200px;"><img src="images/blog.webp" alt="blog image"></div>
                <h2 class="blog-h2">TITLE HEADING</h2>
                <p style="color:white;">Sunt in culpa qui officia deserunt mollit anim id est laborum
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </a>
    </div>
</div>