<div class="NavigationBar">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <img class="nav-icon" src="images/enactus.png" alt="">
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">BLOGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="contents">
  {{!-- <div class="triangle-left"></div> --}}
  <h1 class="header-h1">ENACTUS MSI</h1>
  <p class="header-p">Doing our bit to shape lives and create a better, more sustainable world through
    entrepreneurial
    actions.</p>
  <a href="/projects" style="text-decoration: none; color:white;" class="btn">PROJECTS</a>
  <img class="header-img" src="images/haeder2.jpg" alt="">
{{!-- </div> --}}
