<h1 class="projects">PROJECTS</h1>

<div class="container-projects">
    <div class="P1">
        <img src="https://content.imageresizer.com/images/memes/Apni-aukat-dikha-di-meme-85w3mu.jpg" class="img-projects" >
        <h3 class="heading-projects"> COASTAL CLEANUPS</h3>
        <p class="content-projects"> We organize community beach <br> 
                            cleanups to clear litter around <br> 
                            coastlines.
        </p>
    </div>
    <div class="P1-projects">
        <img src="https://wallpaperaccess.com/full/428217.jpg" class="img-projects" >
        <h3 class="heading-projects"> ENVIRONMENTAL LOBBYING</h3>
        <p class="content-projects"> We push for governments <br>
                            worldwide to protect oceans and <br>
                            marine life.
        </p>
    </div>
</div>
